%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$menuColor: #7d5a5a;

.container_basic_layout {
  padding-top: 3rem;
  .body {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #fafafa;
    .leftPanel {
      background: linear-gradient(135deg, #ff516b 0%, #826cfd 100%);
      min-height: 95vh;
      z-index: 1000;
      .menu {
        position: fixed;
        top: 3rem;
        left: 0;
      }
      &__itemMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        text-decoration: none;
        padding: 1rem 1.5rem;
        font-weight: 600;

        &:hover {
          opacity: 0.5;
          background-color: rgba(255, 255, 255, 0.2);
        }
        &--active {
          color: white;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .content {
      min-height: 95vh;
      width: 100%;
      padding: 30px;
      @extend %center;
      background-color: #fafafa;
    }
    .ads {
      position: fixed;
      top: 3rem;
      right: 0;
      width: 250px;
      height: auto;
      &__img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .ads {
      display: none;
    }
  }
}
