%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$menuColor: #7d5a5a;

.container_basic_layout {
  padding-top: 3rem;
  .body {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #fafafa;
    .closeLeftPanel {
      background: linear-gradient(135deg, #ff516b 0%, #826cfd 100%);
      width: 90px;
      min-height: 95vh;
      z-index: 1000;
      transition: width 0.2s;
      &__menu {
        position: fixed;
        top: 3rem;
        left: 0;
        &__itemMenu {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: white;
          text-decoration: none;
          padding: 1rem 1.5rem;
          font-weight: 600;
          width: 90px;
          transition: width 0.2s;
          .itemMenu__icon {
            font-size: 22px;
            margin-left: 5px;
          }
          .itemMenu__text {
            margin-left: 1rem;
            display: none;
          }
          &:hover {
            opacity: 0.5;
            background-color: rgba(255, 255, 255, 0.2);
          }
          &--active {
            color: white;
            background-color: rgba(255, 255, 255, 0.2);
            width: 90px;
          }
        }
      }
      &:hover {
        width: 225px;
        .closeLeftPanel__menu {
          width: 225px;
          .closeLeftPanel__menu__itemMenu {
            width: 225px;
            .itemMenu__text {
              display: inline-block;
            }
          }
        }
      }
    }

    .content {
      min-height: 95vh;
      width: 100%;
      padding: 30px;
      @extend %center;
      background-color: #fafafa;
    }
    .ads {
      position: fixed;
      top: 3rem;
      right: 0;
      width: 250px;
      height: auto;
      &__img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .ads {
      display: none;
    }
  }
}
