$colorMenuActive: #d9adad;
$textColor: rgba(0, 0, 0, 0.5);
$menuColor: #fff;

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rootHeader {
  .bx--header {
    background-color: $menuColor;
    border-bottom: none;
  }

  .bx--header__nav::before {
    background-color: #f3e1e1;
  }

  .menuHorizontalActive {
    font-weight: 700;
    background-color: $colorMenuActive;
  }

  .itemMenu {
    text-decoration: none;
    color: $textColor;
    @extend %center;
    height: 3rem;
    padding: 0 1rem;
  }

  .rightMenu {
    @extend .itemMenu;
    cursor: pointer;
    position: relative;
    &__avatar {
      width: 2rem;
      height: auto;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &__textName {
      width: 6rem;
      font-size: 13px;
      @extend %textEllipsis;
    }
    .icon {
      margin-top: -2px;
    }
    &:hover {
      opacity: 0.7;
      ~ .dropDownMenu {
        display: block;
      }
    }
  }

  .dropDownMenu {
    display: none;
    width: 11rem;
    height: auto;
    background-color: $menuColor;
    position: absolute;
    top: 3rem;
    color: $textColor;
    font : {
      size: 1rem;
      weight: 400;
    }
    line-height: 1.5rem;
    &:hover {
      display: block;
    }
    &__item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      height: 2rem;
      align-items: center;
      padding-left: 2rem;
      border-top: 0.5px solid #f3e1e1;
      &--text {
        margin-left: 1rem;
        font-weight: 300;
      }
      &:active,
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .bx--side-nav__navigation {
    background-color: $menuColor;
  }

  @media only screen and (min-width: 1056px) {
    .bx--side-nav__navigation {
      display: none;
    }
  }
}
