.content-signUp {
  width: 400px;
  background-color: #faf2f2;
  border-radius: 6px;
  box-shadow: 0 30px 50px 0 rgba(45, 44, 101, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .viewTitleSignUp {
    width: 41%;
    text-align: center;
    font : {
      size: 22px;
      weight: 900;
    }
    color: #7d5a5a;
  }

  .formSignUp {
    width: 90%;
    align-items: center;
    .bx--fieldset {
      margin-bottom: 10px;
    }

    .bx--label {
      color: #7d5a5a;
      font : {
        size: 16px;
        weight: 600;
      }
    }

    .bx--text-input {
      background-color: #faf2f2;
      &:focus {
        outline: none;
      }
    }

    .input-name {
      text-transform: capitalize;
    }

    .viewBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .viewInputRow {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
    }

    input:-webkit-autofill,
    input:focus:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px #faf2f2 inset;
      box-shadow: 0 0 0 100px #faf2f2 inset;
    }
  }
}
